<div class="c-container" id="authen_container">
    <div class="forms-container">
      <div class="signin-signup">

        <form class="sign-in-form" [formGroup]="loginForm" (submit)="loginUser()">
          <h2 class="title">Đăng nhập</h2>
          <div class="input-field">
            <i class="fa fa-user"></i>
            <input type="text" placeholder="Username" formControlName="username" />
          </div>
          <div class="input-field">
            <i class="fa fa-lock"></i>
            <input type="password" placeholder="Password" formControlName="password"/>
          </div>

          <input type="submit" value="đăng nhập" class="btn solid"/>
        </form>

        <form class="sign-up-form" [formGroup]="resetForm" (submit)="resetUser()">
          <h2 class="title">Quên mật khẩu</h2>
         
          <div class="input-field">
            <i class="fa fa-envelope"></i>
            <input type="email" placeholder="Email" formControlName="email"/>
          </div>

        
          <input type="submit" class="btn" value="Xác nhận" />
        </form>

      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>HCoffeeHouse</h3>
          <p>
            HCoffeeHouse là giải pháp giúp bạn quản lý tổng thể cửa hàng.
          </p>
          <button class="btn transparent" id="sign-up-btn" (click)="clickReset()"  >
            Quên mật khẩu
          </button>
        </div>
        <img src="/assets/images/movie_night.svg" class="image" alt="" />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>HCoffeeHouse</h3>
          <p>
            Nếu bạn đã có tài khoản vui lòng đăng nhập tại đây.
          </p>
          <button class="btn transparent" id="sign-in-btn" (click)="clickSignin()" >
            Đăng nhập
          </button>
        </div>
        <img src="/assets/images/coffee_break.svg" class="image" alt="" />
      </div>
    </div>
  </div>

