<div class="c-user-manager" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-12">
            <!--panel-table-->
            <div class="panel panel-default panel-table">

                <!--panel-heading-->
              <div class="panel-heading panel-heading-no-divider">
                <h4>Quản lý tài khoản người dùng</h4>
                <span class="panel-subtitle"
                  >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Sequi voluptas consectetur iusto aperiam iste suscipit ipsum
                  explicabo, reiciendis culpa consequatur accusamus minus porro
                  ut eligendi nihil optio iure eaque amet?</span
                >
              </div>
              <!--panel-heading-->
              <div class="user-action">
                <button class="ua-item btn btn-space btn-success"><i class="icon icon-left mdi mdi-account-plus" ></i> Thêm mới</button>
              </div>
           

              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 32px"></th>
                      <th>Tên</th>
                      <th>Username</th>
                      <th>Trạng thái</th>
                      <th>Hoạt động gần nhất</th>
                      <th style="width: 170px"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img
                          class="non-responsive img-circle"
                          src="http://via.placeholder.com/150x150"
                          alt=""
                          width="32"
                          height="32"
                        />
                      </td>
                      <td>Raiden</td>
                      <td>
                       
                      </td>
                      <td>
                        <i class="fa fa-toggle-on" aria-hidden="true"></i>
                      </td>
                      <td>
                        April 6, 2020
                        <br />
                        <small class="text-muted">8:30</small>
                      </td>
                      <td class="actions">
                        <a class=" btn btn-space btn-warning" title="Cập nhật tài khoản">
                            <i class="icon icon-left mdi  mdi-account-convert" aria-hidden="true"></i>
                        </a>
                        <a class=" btn btn-space btn-danger" title="Xóa bỏ user">
                            <i class="icon icon-left mdi  mdi-account-remove" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!--panel-table-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
